*{  margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}
html{ font-size:16px;}
@media screen and (min-width: 400px) {

    html{ font-size:16px;}
}
@media screen and (max-width: 400px) {
    html{
        font-size:14px;
    }
}
html, body, footer{max-width: 730px; width: 100%; margin: 0 auto;}