#tangsheng .topbar{width: 100%;height: 36px;background: #bb0010;}
body.pushable .pusher{background: #f3f3f3;}
.pushable>.pusher{min-height: auto;}
.ui.inverted.menu{margin:0;background: #bb0010;border-radius: 0;}
.ui.inverted.masthead.segment{background: #fff;color: #5d676b;padding: 0 0 2px 0;}
.ui.inverted.menu.topbar .item, .ui.inverted.menu.topbar .item>a:not(.ui){padding:0 0 0 42px;font-size: 14px;background: none}
.ui.inverted.menu.topbar .item:hover{background: none;}
.ui.secondary.inverted.menu a.item{color: #5d676b !important;line-height: 36px;font-size: 16px;}
.ui.secondary.inverted.menu .active.item{color: #ea564c !important;}
.ui.secondary.inverted.pointing.menu .active.item{border-color: #bb0010;}
.ui.menu.inverted .item::before{width: 0;}
.ui.menu.inverted .item a{margin:0 5px;color: #fff;}
.ui.menu.inverted .item a.register{border:1px solid #fff;border-radius: 3px;padding: 2px 5px;}
.ui.secondary.inverted.pointing.menu{border: none;}
.ui.inverted.segment.footer{background: #535353;}
.ui.inverted.segment.footer .service{padding-bottom: 3em;}
.ui.inverted.segment.footer .service a{color: #fff;border:1px solid #fff;border-radius: 5px;padding:6px 7px;font-size: 16px;display: inline-block;}
.ui.inverted.segment.footer .service .footAddress{padding-top:60px;text-align: left;}
.ui.inverted.segment.footer .service .footAddress .ui.header{margin:0;color: #ffffff;margin-bottom: 10px;font-weight: normal;}
.ui.inverted.segment.footer .service .three.wide h4{margin:10px 0 0 0;font-weight: normal;line-height: 26px;font-size: 16px;}
.ui.inverted.segment.footer .service p{font-size: 16px;}
.ui.inverted.segment.footer .copyright{background: #464645;padding:12px 0;}
.ui.inverted.segment.footer .copyright p{color: #909090;}

.ui.inverted.segment.footer .copyright span:first-child{border-right: 1px solid #909090;}
.ui.menu .item.wechat img{width: auto;margin-right: 5px;}
.ui.menu.fixed .active.item{background: none;color: #96a602;}

.hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 80px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 3em 0em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }
    .ui.secondary.inverted.menu .item.dropdown,.ui.secondary.inverted.menu .item.dropdown:hover{background: #ea564c;border-radius: 5px;color: #fff !important;line-height: normal;margin-bottom: 10px;padding-top: 8px;padding-bottom: 8px;}
    .ui.secondary.inverted.menu .link.item:hover, .ui.secondary.inverted.menu a.item:hover{background-color:  none !important;color: #5d676b !important; }
    .ui.secondary.pointing.menu .item.header{padding-top: 5px;padding-bottom: 2px;padding-left: 0;}
    .ui.primary.button, .ui.primary.active.button,  .ui.primary.button:hover, .ui.primary.buttons .button{background: #ea564c;}
    /*.ui.menu .active.item,.ui.menu .item:hover{}*/
    .ui.form .field{position: relative;}
    .ui.form .field label.error{color: #fff;font-size: 12px;background: #333;padding:5px 10px ;border-radius: 5px;position: absolute;left: 5px;bottom: -28px;z-index: 2;}
    .ui.form .field label.error::before{content:"";width:0; height:0; border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #333;position: absolute;top: -4px;left:40%;}
    @media only screen and (max-width: 700px) {


      /*.secondary.pointing.menu .item,
      .secondary.pointing.menu .menu,
      .ui.inverted.main.menu.topbar {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }*/
      .masthead.segment {
        min-height: 80px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
.enable_pay{background: #adabab !important;}


.pagination {
    float: right;
    position: relative;
    right: 10px;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li {
    display: inline
}

.pagination>li>a,.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg>li>a,.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px
}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm>li>a,.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px
}

.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none
}

.pager li {
    display: inline
}

.pager li>a,.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}

.pager li>a:hover,.pager li>a:focus {
    text-decoration: none;
    background-color: #eee
}

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff
}
.verificationCodeReminder{display: none !important;}

.msg_error {
    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;
    display: none;
}
.msg_error b{
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(/front/image/pwd-icons-new.png) -104px -49px no-repeat;
}


    /*******************************
                Homepage
    *******************************/

    @media only screen and (max-width: 992px) {
      html {
        overflow-x: visible;
        -webkit-overflow-scrolling: auto;
      }
    }
    #tangsheng > .pusher {
      display: block;
      min-height: 0px;
      flex-direction: initial;
      padding-top: 124px;
    }
    #tangsheng > .pusher > .full.height {
      display: block;
      flex: none !important;
    }

    /*--------------
        Masthead
    ---------------*/

    #tangsheng.index .masthead.segment.zoomed h1 {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
      color: rgba(255, 255, 255, 1);
    }
    #tangsheng.index .masthead.zoomed:after {
      opacity: 0;
    }
    #tangsheng.index .masthead.zoomed {
      background-color: #25282A;
    }
    #tangsheng.index .masthead:after {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      background-size: cover;

      opacity: 0.45;
    }

    #tangsheng.index .masthead,
    #tangsheng.index .masthead:after {
      -ms-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
      ;
      -moz-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
      ;
      -webkit-transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
      ;
      transition:
        background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
      ;
    }

    /*#tangsheng.index .following.bar .menu .item {
      display: block;
    }*/
    /*#tangsheng.index .following.bar .menu .toc.item{
      display: none;
    }*/
    /*@media screen and (max-width:992px) {
      #tangsheng.index .following.bar .menu .toc.item{
        display: block;
      }
    }*/
    #tangsheng.index.pushed .masthead,
    #tangsheng.index.pushed .following.bar {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    /*#tangsheng.index .light.following.bar {
      background-color: #FFFFFF;
      border-bottom: 1px solid #DDDDDD;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
    }*/

    #tangsheng.index .light.following.bar .ui.menu.topbar{border:none;}
    #tangsheng.index .light.following.bar .ui.menu.topbar a,#tangsheng.index .light.following.bar .ui.menu.topbar .item{color: rgba(255,255,255,.9);}
    #tangsheng.index .masthead.segment .typed-cursor {
      position: relative;
      top: -0.05em;
      left: -0.25em;
      visibility: hidden;
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
      -webkit-transition: opacity 0.7s ease;
      -moz-transition: opacity 0.7s ease;
      transition: opacity 0.7s ease;
    }
    #tangsheng.index .masthead.segment .typed-cursor.stop {
      opacity: 0;
      -moz-animation-duration: 0s;
      -webkit-animation-duration: 0s;
      animation-duration: 0s;
    }
    @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
    @-webkit-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
    @-moz-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }

    #tangsheng.index .vertical.segment {
      box-shadow: none;
    }


    #tangsheng.index .ui.header {
      font-weight: normal;
      font-size: 16px;
    }

    #tangsheng.index .fixed.launch.button {
      display: none;
      top: 100px;
    }
    #tangsheng.index .main.menu {
      top: 0px;
      height: auto;
      padding: 0;
    }
    #tangsheng.index pre.console {
      height: 120px;
    }
    #tangsheng.index .following.bar {
      position: fixed;
      top: 0px;
      z-index: 900;
      border-bottom: 1px solid #bb0010;
      left: 0%;
      width: 100%;
      transition:
        padding 0.5s ease,
        background 0.5s ease,
        box-shadow 0.5s ease,
        border 0.5s ease
      ;
    }
    #tangsheng.index .following.bar > .menu .item {
      transition: all 0.5s ease;
    }
    #tangsheng.index.pushed .following.bar .menu .item,
    #tangsheng.index.pushed .following.bar {
      transition: none;
    }
    #tangsheng.index .following.bar .column > .menu {
      margin-top: 0px;
      height: 35px;
    }
    #tangsheng.index .following.bar .network.menu .item {
      font-weight: bold;
    }

    @media only screen and (max-width : 400px) {
      #tangsheng.index .advertisement {
        display: none;
        margin-left: -130px !important;
      }
      #tangsheng.index .carbonad {
        width: 260px !important;
      }
      #tangsheng.index .masthead.segment h1  {
        font-size: 1.75em !important;
      }
      #tangsheng.index .feature.stripe {
        padding: 1em;
      }
    }



    @media only screen and (max-width : 600px) {
      #tangsheng.index .following.bar {
        display: none;
      }

      #tangsheng.index .following.bar .column {
        text-align: center;
      }
      #tangsheng.index .following .logo {
        float: none;
      }
      #tangsheng.index .following .secondary.menu {
        display: none;
      }
      .tangshengyun .footer.segment .copyright span{display: block;text-align: center;}
        #tangsheng>.pusher{padding-top: 48px;}
    }

    @media only screen and (max-width : 650px) {
      #tangsheng.index .fixed.launch.button {
        display: none;
      }

      #tangsheng .stripe h1 {
        font-size: 32px;
      }
      .ui.inverted.segment.footer .copyright span:first-child{border-right: none;}
      .ui.inverted.segment.footer .copyright span{display: block;}
    }
    @media only screen and (min-width : 601px) {
      .ui.inverted.segment.footer .service .footAddress{
        padding-left: 120px;
      }

      #tangsheng.index .main.menu.fixed {
        display: none;
      }

      #tangsheng.index .fixed.launch.button {
        display: none;
      }
      .ui.inverted.segment.footer .copyright span{padding: 0 20px;}
    }
.button:hover{opacity: 0.8!important;}
