.newhandMain{
  background-color: #ffffff;
  padding: 60px 0;
}
.newhandMain img.ui.medium.image{width: auto; }
#newhand .flowchart{
  /* 旧语法，带前缀并且已经废弃，以支持老版本的浏览器 */
  background: -prefix-linear-gradient(left, #ffffff, #afbac5);
  background: linear-gradient(to right, #ffffff, #afbacf);
  overflow: hidden;padding-bottom: 50px;}
#newhand .flowchart_title img{width: auto;margin-top: 60px;margin-bottom: 60px;}
#newhand .chart{padding-bottom: 60px;}
#newhand .chart img.ui.medium.image{width: auto;}
#newhand .newhandBtn{background: #ea564c;color: #fff;font-size: 24px;padding-left: 50px;padding-right: 50px;}

.flowchart .go_buy {
  width: auto;
}
@media screen and (max-width:500px) {
  .flowchart .go_buy {
    width: 120px;
  }
}
@media screen and (max-width:400px){
  .flowchart .go_buy {
    width: 100px;
  }
}
