*{ margin: 0; padding:0;
    font-size: 0.8rem; }
a {
    text-decoration: none;
}
html{ font-size:16px;}
@media screen and (min-width: 400px) {

    html{ font-size:16px;}
}
@media screen and (max-width: 400px) {
    html{
        font-size:14px;
    }
}
html, body, footer{max-width: 730px; width: 100%; margin: 0 auto;}
.swiper-container {
    height: auto;
    text-align: center;
    margin-top: 1rem;
}
.swiper-container a{
    display: inherit ;
    height:100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*background-position: center;*/
}
nav {
    margin-top: 1.5rem;
}
nav > ul, footer ul{
    width: 100%;
    display: inline-block;
}
nav > ul > li, footer > ul > li {
    list-style: none;
    width: 20%;
    float: left;
    text-align: center;
}
nav > ul > li > a > img {
    margin: 0 auto;
    width: 70%;
}
nav > ul > li p{
    padding-top: 5px;
}
nav > ul:last-child{
    margin-top: 1rem;
}
section{
    width:100%;
    background-color: #e5e3e4;
}
.guodu{
    width: 100%;
    margin-top: 1rem;
    height: 1rem;
    background-color: #e5e3e4;
    -webkit-filter: blur(1rem);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#announce{
    margin-top: 0.5rem;
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    overflow: hidden;
    background: url("/front/image/index_nav/announce_bg.png") right no-repeat;
}
#announce > span {
    float: left;
    line-height: 2.8rem;
}
#announce > span:nth-child(2n){
    margin-left: 0.35rem;
    width: 15rem;
    overflow: hidden;
}
#announce > span > img{
    height: 2.8rem;
}
#announce > span:last-child{
    float: right;
    margin-right: 0.4rem;
}
section > .cons{
    width: 87%;
    margin:0 auto;
    border: 5px solid #ced0cf;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    background-color: #ffffff;
    text-align: center;
}
section > .cons > img{
    height: 1.5rem;
}
.cons-con{
    width: 100%;
    overflow-x: hidden;
    margin-top: 0.6rem;
    display: block;
}
.cons-left{
    width: 35%;
    float: left;
    height: 5.8rem;
    overflow: hidden;
}
.cons-left > img{
    width: 100%;
}
.cons-deliv{
    background: url('/front/image/index_nav/dash.jpg') repeat-y;
    width: 2px;
    height: 5.8rem;
    float: left;
    margin-left: 4%;
}
.cons-right{
    width: 55%;
    float: right;
    text-align: left;
}
.cons-right a:first-child{
    float: right;
    border: 1px solid #e5e3e4;
    padding: 0px 10px 0px 10px;
    color: #1fbbd0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.cons-right > .layui-progress{
    margin-top: 0.5rem;
}
.cons-right > .layui-progress > .layui-progress-bar{
    background-color: #1fbbd0;
}
.cons-right > p:first-child{
    line-height: 27px;
    font-weight: bolder;
    height: 29px;
    overflow: hidden;
}
.cons-right > div > p {
    font-size: 0.7rem;
    color: #7f7f7f;
    line-height:16px;
}
.cons > .arts{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.cons .arts img{
    width: 97%;
}
.cons .arts p{
    line-height: 20px;
    margin-top: 0.1rem;
}
.contacts{
    margin-top: 1.25rem;
    background-color: #1ebdd3;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    height: 6rem;
    padding-top: 1.2rem;
}
.contacts > p{
    text-align: center;
    line-height: 1.7rem;
    margin-top: 0.5rem;
}
.contacts > p > img{
    height: 1.8rem;
    margin-top: -0.7rem;
}
footer, #before-footer{
    width: 100%;
    height: 3.8rem;
}
footer{
    background-color: #fff;
    position: fixed;
    bottom:0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -8px 15px #ced0cf;
}
footer > ul > li img{
    height: 1.8rem;
    margin-top: 0.2rem;
}
footer > ul > li:first-child .layui-icon{
    color: #1ebdd3;
}
footer > ul{
    margin-top: 0.5rem;
}