#tangsheng .pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
#tangsheng:not(.site) .pusher.userContainer .userChange {
  background-color: #FFFFFF;
  padding-bottom: 90px;
  margin-top: 20px;
}
.ui.vertical.menu{width: auto;}
#tangsheng .full.height > .toc {
  position: relative;
  z-index: 1;
  background-color: #ecf2f7;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
#tangsheng .article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
}
#tangsheng .userContainer .article {
  padding:18px 18px 0;
}
.userContainer .ui.checkbox .box:before, .userContainer .ui.checkbox label:before{background: #96a620;border-color: #96a620;}
.userContainer .ui.radio.checkbox input:checked~.box:before, .userContainer .ui.radio.checkbox input:checked~label:before,.userContainer .ui.radio.checkbox input:checked~label:after{background: #ff7b02;border-color: #ff7b02;}
.userContainer .ui.radio.checkbox input:checked~.box:after{background: #96a620;color: #96a620;}
.ts_commonBtn{padding:15px 48px;background: #ea564c;color: #fff;border-radius: 5px;}
.ts_commonBtn:hover{color: #fff;}
.userContainer{padding:17px 0 30px;background: #f3f3f3;}
.userContainer .toc{background: #fff;}
.userContainer .ui.inverted.menu,.userContainer .leftTree{background: #faf6f2;}
.userContainer .ui.grid{margin: 0;}
.userContainer .ui.grid .column.leftTree{padding: 0;}
.userContainer .ui.grid .column{padding-bottom: 0;}
.userContainer .ui.inverted.menu .item, .userContainer .ui.inverted.menu .item>a:not(.ui){color: #9ca0a5;padding:0;}
.userContainer .ui.vertical.menu .item>.header:not(.ui){height: 48px;background: #cba078;color: #fff;line-height: 48px;text-align: center;margin:0;font-size: 16px;}
.userContainer .ui.vertical.inverted.menu .menu .item, .userContainer .ui.vertical.inverted.menu .menu .item a:not(.ui){color: #9ca0a5;line-height: 38px;border-bottom: 1px solid #fbfdfe;margin:0;padding-left: 45px;border-left: 2px solid #fbfdfe;font-size: 14px;}
.userContainer .ui.vertical.menu .item>.menu{margin:0;}
.userContainer .ui.vertical.menu .item>i.icon{float: none;}
.userContainer .ui.vertical.inverted.menu .item .menu .link.item:hover, .userContainer .ui.vertical.inverted.menu .item .menu a.item:hover{color: #9ca0a5;}
.userContainer .ui.inverted.vertical.menu .item .menu .active.item{background: #ffffff;color: #cba078 !important;border-left: 2px solid #cba078;}
.userContainer .articleInfo{background: #edded0;border-radius: 8px; padding-bottom: 50px;}
.userIndex .ui.tiny.image{width: 116px;}
.userIndex .ui.tiny.image p{text-align: center;line-height: 46px;color: #acb2b6;}
.userIndex .seven .changeNoHead{padding-top: 15px;padding-bottom: 15px;border:1px solid #cba078;border-radius: 5px;}
.userIndex .seven .changeNoHead .column p{color: #9ba0a6;font-size: 14px;}
.userIndex .seven .changeNoHead .column:first-child{border-right: 1px solid #cba078;}
.userIndex .seven .changeNoHead .column .ui.header{padding-left: 0;font-size: 14px;margin: 0;color: #cba078;}
.userIndex .seven .changeNoHead .column .ui.header img{width: auto;margin-top: 0;margin-right: .3rem;}
.userIndex .seven .ui.items>.item>.image+.content{text-align: center;padding:0;}
.ui.header.userTotal>.image, .ui.header.userTotal>img,.ui.header.userBalance>.image, .ui.header.userBalance>img{width: auto;margin: 0;}
.ui.header.userTotal .content,.ui.header.userBalance .content{padding-left: 5px;}
.ui.header.userBalance{margin: 0;}
.ui.header.userBalance .content{color: #fff;}
.userIndex .six .balance{background: #cba078;border-radius: 8px;color: #fff;height: 45px;text-align: center; line-height:45px;font-size: 14px;}
.userIndex .six .balance h3{margin-bottom: 5px;}
.userIndex .three .withdrawal{border:1px solid #ea564c;border-radius: 5px;height: 162px;padding:30px 20px 0;}
.userIndex .three .withdrawal a{display: block;text-align: center;margin-bottom: 16px;padding:10px 0;border-radius: 5px;}
.userIndex .three .withdrawal a:first-child{background: #ea564c;color: #fff;}
.userIndex .three .withdrawal a:last-child{border:1px solid #ea564c;color: #ea564c;}
.userIndex .ui.header{color: #9ba0a6;font-size: 16px;padding-left: 1em;}
.userIndex .relaxed.list{border:1px solid #cba078;border-radius: 10px;min-height: 370px;margin:0 1em;}
.userIndex .ui.relaxed.list .item{padding: 0 !important;}
.userIndex .ui.relaxed.list .item .right.floated{padding-top: 4px;}
.userIndex .ui.relaxed.list .item .right.floated .ui.button{background: #ea564c;color: #fff;}
.userIndex .ui.relaxed.list .item .description{line-height: 50px;padding-left: 25px;color: #818388;}
.ui.divided.list>.item{border-top: 4px solid #fff;background: rgba(203,160,120,.1)}
.ui.divided.list>.item:first-child{border-top-left-radius: 10px;border-top-right-radius: 10px;}
/*.ui.divided.list>.item:nth-child(2),.ui.divided.list>.item:nth-child(4){background: #faf8f0;}
.ui.divided.list>.item:nth-child(3),.ui.divided.list>.item:nth-child(5){background: #e5f1ed;}*/
.userContainer .userTop{background: #edded0;border-radius: 8px;padding: 16px 0 12px 22px;margin-bottom: 12px;}
.userContainer .userTop .seven.column h3{margin-bottom: 5px;}
.userContainer .userTop .ui.header.balance{margin: 0;}
.userContainer .userTop .ui.header.balance img{width: auto;margin:0;}
.userContainer .userTop .ui.header.balance .content{padding-left: 0;color: #cba078;}
.ui.grid>.column.userIndex{padding-bottom: 0;}
.userMain{border:1px solid #cba078;border-radius: 8px; padding-bottom:40px;padding-top: 30px;}
.userContainer .userTop .rechargeBtn{border:2px solid #ea564c;border-radius: 5px;color: #ea564c;display: block;text-align: center;padding: 10px 0;margin-right: 20px;}
.userContainer .userTop .active{background: #ea564c;color: #fff;}
.userMain>p{text-align: center;}
.userMain .form{text-align: center;}
#rechangeForm,#withdrawForm{max-width: 316px;margin:30px auto;}
#rechangeForm .ui.button.formBtn,#withdrawForm .ui.button.formBtn{width: 230px;background: #ea564c;}
#withdrawForm .field p{text-align: left;font-size: 12px;color: #ea564c;padding-top: 10px;}
.userMain .form input[type="text"]{color: #ff8600;border-color: #fdc89f;background: #fbfaf9;}
.articleInfo>.header{padding-top:16px;padding-left: 16px;}
.userContainer .ui.input .wdate{text-align: center;background: #fff;border-color: #cba078;padding:0;}
/*.userContainer .articleInfo .item label{line-height: 38px;}*/
.userContainer .articleInfo .item select{border-radius: 4px;}
.userContainer .ui.secondary.menu{margin-left: 0;}
.userContainer .ui.secondary.menu .item{margin:0;padding-left: .5em;padding-right: .5em;}
.userContainer .userRadio .ui.radio.checkbox label{background: #96a620;color: #fff;padding:8px 30px;border-radius: 5px;}
.userContainer .userRadio .ui.radio.checkbox.checked label{background: #ff7b02;}
.userContainer .ui.form .inline.fields{margin:0;}
.userContainer .ui.selection.dropdown{min-width: 12em;}
 /*.userContainer .ui.radio.checkbox label:before{width: 100%;height: 100%;border-radius: 0;border:none;background: #96a620;}*/


.userContainer .ui.celled.table{margin-top: 30px;}
.userContainer .ui.basic.table tbody tr{color: #fff;font-size: 12px;background: #cba078;}
.userContainer .ui.celled.table tr td, .userContainer .ui.celled.table tr th{border-color: #f4ffff;border-width: 1px;}


/*账户设置*/
.articleInfo .ui.segment{box-shadow: none;border-radius: 0;border:none;}
.articleInfo .ui.header>img{width: auto;}
.settingPhone{background: #faf6f2 !important;border-left:3px solid #cba078 !important;}
.settingPhone .ui.floated.header{margin:0;}
.settingPhone .ui.floated.header .ui.header{font-weight: normal;}
.settingPhone .ui.floated.header .ui.header .sub.header,.loginPassword .ui.floated.header .ui.header .sub.header,.dealPassword .ui.floated.header .ui.header .sub.header{padding-top: 5px;}
.settingPhone .ui.floated.header.right,.loginPassword .ui.floated.header.right,.dealPassword .ui.floated.header.right{font-size: 14px;font-weight: normal;line-height: 44px;padding:0 10px;}
.settingPhone .ui.header.center{margin:0;line-height: 44px;font-size: 14px;font-weight: normal;color: #808388;}
.loginPassword{background: #faf6f2 !important;border-left: 3px solid #cba078 !important;}
.dealPassword{background: #faf6f2 !important;border-left: 3px solid #cba078 !important;}

/*充值成功*/
.rechargeSuccess .ui.header,.resetTradePasswordSuccess .ui.header{padding:120px 0 55px 0;}
.rechargeSuccess .ts_order_intro p{margin-bottom:5px;color: #818489;font-size: 14px;}
.rechargeSuccess .ts_order_intro span{font-size: 12px;color: #ea564c;padding:30px 0 85px 0;display: block;}
.rechargeSuccess .ts_order_intro span a{color: #ff7b02;border-bottom: 1px solid #ff7b02;}

/*支付宝支付*/
.alipay_logo{margin-bottom: 18px;}
.alipayCode{padding-top: 60px;}
.alipayCode h6{margin:0;line-height: 30px;}
.alipayCode p{margin:0;font-size: 12px;}

.alipayMoney h3{margin:0;}
.alipayMoney h4{margin-top: 5px;color: #ff7b02;}
.alipayMoney p{font-size: 12px;color: #808388;}
.alipay_service{padding: 45px 45px 0;}
.alipay_service .ui.horizontal.list{font-size: 12px;color: #9ca0a5;margin:0;}

/*重置交易密码*/
.resetTradePwForm{width: 300px;margin:80px auto 0;}
.resetTradePwForm .ui.form input,.changePhoneForm .ui.form input{border-color: #cba078;}
.resetTradePwForm .ui.form .ui.button.formBtn,.changePhoneForm .ui.form .ui.button.formBtn{background: #ea564c;color: #fff;display: block;width: 190px;margin:80px auto 0;}
.resetTradePasswordSuccess .ui.text.container{text-align: center;}
.resetTradePasswordSuccess .ts_order_intro p{color: #818489;font-size: 14px;margin-bottom: 50px;}
/*更换手机号*/
.changePhone{text-align: center;}
.changePhone .ui.icon.header .content{padding-top: 20px;}
.changePhone .ui.steps{border:none;}
.changePhone .ui.steps .step{background:none;border: none;}
.changePhone .ui.steps .step>.icon{font-size: 14px;color: #9ca0a5;font-weight: normal;}
/*.changePhone .ui.steps .step.active>.icon{color: #0cc3bd;}*/
.changePhone .ui.steps .step:after{background: url("../image/changePhone5.png") no-repeat;width: 79px;height: 32px;border:none;transform:none;top: 30%;right: -30px;}
.changePhone .ui.steps .step.active:after{background: url("../image/changePhone4.png") no-repeat;}
.changePhoneForm{width: 300px;margin: 30px auto 0;}


@media only screen and (min-width: 500px){
  .rechargeSuccess .ui.header,.rechargeSuccess .ts_order_intro{padding-left: 222px;}
  .resetTradePasswordSuccess .ts_order_intro p{margin-bottom: 200px;}
}
@media only screen and (max-width: 1180px){
  .userContainer .ui.stackable.menu{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;}
  .userContainer .ui.stackable.menu .item{width: 100% !important;}
}
