/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
.env
.vscode
storage
.deploy
.dev_deploy
.exclude
public/uploads/
.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/.DS_Store
.dev_deploy
